<h1>Record details for <%= @record.id %> for model <%= params[:model_name] %>.</h1>
<%= link_to :Edit, edit_record_path(@model, @record), class: "btn btn-primary" %>

<% @model.column_names.each do |col| %>
<div>
    <span class="a"><%= col %></span>
    <span ><%= @record.read_attribute(col) %></span>
</div>
<% end %>

